body {
  margin: 0;
  padding: 0;
  font-family: "Courier";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
  /*background-image: linear-gradient(to bottom right, red, yellow)*/
}

.center-display {
	display: flex;
	justify-content: center;
}

button {
	cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
